<form action="/passwords/new" method="post" autocomplete="off" autofill="off">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="website_name"
      placeholder="Website Name"
    />
  </div>
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      name="website_username"
      placeholder="Website Username"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      name="website_password"
      placeholder="Website Password"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="category_name"
      placeholder="Category Name"
    />
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">
      lower case letters
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">
      Upper case letters
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">
      special characters
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault"> numbers </label>
  </div>

  <button type="submit" class="btn btn-primary">Generate New Password</button>
  <button type="submit" class="btn btn-primary">Add Password</button>
</form>
