<form action="/passwords/new" method="post" autocomplete="off" autofill="off" class='add_new'>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="website_name"
      placeholder="Website Name"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="website_username"
      placeholder="username"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      name="website_password"
      id = "new_password"
      placeholder="password"
    />

  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="category_name"
      placeholder="Category Name"
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      class="form-control"
      name="password_length"
      placeholder="Password Length"
    />
  </div>
</form>
