<!-- action="/passwords/new" method="post"  -->
<form autocomplete="off" method="post" autofill="off" class="add_new">
  <span class="close">&times;</span>

  <div class="form-group">
    <input
      type="text"
      id="web_name"
      class="form-control"
      name="website_name"
      placeholder="Website Name"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="website_username"
      id="web_username"
      placeholder="username"
    />
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      name="website_password"
      id="new_password"
      placeholder="password"
    />
  </div>
  <div class="form-group">
    <select
      name="category_name"
      id="category_name"
      class="form-select"
      placeholder="Select Category Name"
    >
      <option value="Social">Social</option>
      <option value="Work">Work</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Financial">Financial</option>
      <option value="Misc">Misc</option>
    </select>
  </div>
  <button class="btn btn-primary add_account_submit" type="submit">Add Password</button>
</form>
