<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Account</title>

    <link rel="stylesheet" href="/styles/account_info.css" type="text/css" />

    <!-- Boostrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body id='body'>
    <%- include('partials/_header') %>

    <div class='title'>
      My account settings
    </div>
    <section class='container'>

      <!-- update email -->
      <form class='detail detail_email'>
        <p class='section'>Email</p>
        <p class='section_info edit edit_email'><%= email %> </p>
        <div class='section_info edit edit_email submit'><input class='new_email' type='email' placeholder='New email' name="emailaddress"></div>
        <p class='edit edit_email edit_button'><i class="fas fa-edit"></i>Edit<br>
        <p class='edit edit_email submit button'></i>Submit<br>
        <p class='edit_email cancel email_cancel'>Cancel</p>
      </form>

      <!-- update name -->
      <form class='detail detail_name'>
        <p class='section'>Name</p>
        <p class='section_info edit edit_name'><%= name %> </p>

        <div class='section_info edit submit edit_name'><input type='text' placeholder='New name' class='new_name'></div>
        <p class='edit edit_name edit_button'><i class="fas fa-edit"></i>Edit<br>
        <p class='edit edit_name submit button'></i>Submit<br>
        <p class='edit_name cancel name_cancel'>Cancel</p>
      </form>



      <!-- update password -->
      <form class='detail detail_password'>
        <p class='section'>Password</p>
        <p class='section_info edit edit_password'>********</p>

        <!-- input new password -->
        <div class='section_info edit edit_password submit'><input type='password' placeholder='New password' class='new_password'></div>

        <!-- edit button -->
        <p class='edit edit_password edit_button'><i class="fas fa-edit"></i>Edit<br>

        <!-- submit button -->
        <p class='edit edit_password submit button'></i>Submit<br>

        <!-- cancel button -->
        <p class='edit_password cancel password_cancel'>Cancel</p>
      </form>



    </section>
    <script type='text/javascript' src='/scripts/accountInfo.js'></script>
  </body>
</html>
