<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Account</title>

    <link rel="stylesheet" href="/styles/account_info.css" type="text/css" />

    <!-- Boostrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

  </head>

  <body id='body'>
    <%- include('partials/_header') %>

    <div class='title'>
      My account settings
    </div>
    <section class='container'>

      <form class='detail'>
        <p class='section'>Email</p>
        <p class='section_info'><%= email %> </p>
        <a type='submit'>Edit</a>
      </form>

      <form class='detail'>
        <p class='section'>Name</p>
        <p class='section_info'><%= name %> </p>
        <a type='submit'>Edit</a>
      </form>

      <form class='detail'>
        <p class='section'>Organization</p>
        <p class='section_info'><%= org_name %> </p>
        <a type='submit'>Edit</a>
      </form>


    </section>

  </body>
</html>
