<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passwords</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/passwords.css" type="text/css" />

    <!-- Boostrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/passwordGenerator.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="password-page">
      <h1 class="col-md-3 offset-md-3">
        Passwords for <%= `${organization_id}` %>
      </h1>

      <section class="passwords_container"></section>

      <div class="toggle_add_account">
        <h2 class="btn btn-primary">Add Account</h2>
      </div>

      <section class="add_account">
        <div class="password-forms">
          <%- include('partials/_new-password-form') %> <%-
          include('partials/_new-password-generator-form') %>
        </div>
      </section>
    </div>

    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
