.title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

#body {
  .container {
    display: grid;
    flex-direction: column;
    margin: auto;
    width: 50%;
  }
  .edit_button:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    i {
      display: inline;
    }
  }
  .detail {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 40px;
    margin: 0;
    font-size: 12.5px;

    * {
      margin: 0;
    }

    .section {
      width: 140px;
      font-size: 13px;
      font-weight: 525;
    }

    //2nd column: where the info is displayed
    .section_info {
      width: 450px;
      input {
        width: 80%;
        border: none;
        border-bottom: solid grey 1px;
      }
    }
    i {
      display: none;
    }
    .submit {
      display: none;
      border-radius: 2.5px;
    }
    .submit.button {
      border: 1px solid grey;
      width: 50px;
      text-align: center;
    }
    .cancel {
      display: none;
      border: 1px solid grey;
      border-radius: 2.5px;
      width: 50px;
      text-align: center;
    }
  }
}
