.title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

#body {
  margin: auto;

  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .button:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    i {
      display: inline;
    }
  }
  .detail_email {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
  }
  .detail_password {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgb(189, 189, 189);
  }
  .detail {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50px;
    margin: 0;
    font-size: 14px;
    padding: 14px;
    background-color: rgb(238, 238, 238);


    * {
      margin: 0;
    }
    .edit_button {
      margin: auto;
      margin: 0;
      width: 120px;
      text-align: center;
      font-size: 12.5px;
    }

    .section {
      width: 140px;
      font-size: 15px;
      font-weight: 525;
    }

    //2nd column: where the info is displayed
    .section_info {
      width: 250px;
      input {
        width: 80%;
        border: none;
        // border-bottom: solid grey 1px;
        background-color: rgb(238, 238, 238);
        outline: none;
      }
    }
    i {
      display: none;
    }
    .submit {
      display: none;
    }
    .submit.button, .cancel {
      border-radius: 2.5px;
      border: 1px solid grey;
      width: 55px;
      height: 25px;
      text-align: center;
      align-items: center;
      font-size: 12px;
      margin: 0 2.5px;
      padding: 1px 6px;
      vertical-align: middle;
    }
    .cancel {
      display: none;
    }
  }
}
