.navbar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
  background-color: #c4c4c4;
}

.login {
  display: flex;
}

.logout {
  display: flex;
}
