// See: https://sass-lang.com/
.home {
  padding: 5em;
  display: flex;
  justify-content: space-between;
  background-image: url(/images/safe.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(102, 102, 102, 0.3);

  .title {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 4em;
      font-weight: bold;
    }

    p {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .login-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #666;
    height: 500px;
    align-content: center;
    margin: auto;
    box-shadow: 10px 20px;
    border-radius: 10px;

    form {
      width: 80%;
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 1em;
      }

      .btn {
        margin-bottom: 1em;
      }
    }

    h2 {
      text-align: center;
      margin: auto;
      margin-bottom: 1em;
    }
  }
}

.add_account {
  display: none;
}
