#navbar nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 2%;

  .dropdown-toggle {
    color: white;
  }

  .nav_container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
}
