body h1 {
  text-align: center;
  margin-top: 5%;
}

.passwords_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2em 10em 10em;

  .display_password {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    margin: 1em;
    padding: 0.5em;
    border: 1px solid black;
    header {
      padding-bottom: 10px;
      font-size: 1.75em;
      font-weight: bold;
    }
    p {
      margin: 0;
    }

    &:hover {
      box-shadow: 0 20px 20px -10px;
      transform: scale(1);
      transition: all 0.1s ease-in-out;
    }
  }

  .hide {
    display: none;
  }

  .display_password:hover {
    .toggle_edit,
    .toggle_delete {
      display: inline;
    }
    .toggle_edit:hover {
      color: blue;
    }
    .toggle_delete:hover {
      color: red;
    }

    .hide {
      display: contents;
    }

    .secret {
      display: none;
    }
  }
  .display_username {
    color: grey;
    font-weight: 200;
    display: flex;
  }

  //edit button
  .toggle_edit,
  .toggle_delete {
    display: none;
    width: 25px;
    background-color: none;
    border: none;
    color: black;
  }
  .edit_delete {
    display: flex;
    flex-direction: row;
  }

  .passwords-header {
    display: flex;
    justify-content: space-between;

    p {
      text-decoration: underline;
    }
  }

  .password-field {
    display: flex;
    justify-content: space-between;
  }
}

.add_account {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .password-forms {
    display: flex;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

    .add-password-form {
      margin: auto;
      width: 50%;
    }

    .generate-password-form {
      margin: auto;
    }
  }
}

[class^="edit_info_"] {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  section {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-control {
      display: flex;
      width: auto;
      margin: auto;
      width: 80%;
    }

    button {
      display: flex;
      width: 80%;
      margin: auto;
      justify-content: center;
    }
  }
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  text-align: right;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

[class^="copy"] {
  border: none;
  background-color: transparent;

  &:hover {
    background-color: rgba($color: #666, $alpha: 0.1);
  }
}

.password-page {
  padding: 5%;
}

.plus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
