.register-form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .form-group {
    margin-bottom: 1em;
  }

  .form-control {
    background-color: #c4c4c4;
    color: white;

    &::placeholder {
      color: black;
    }
  }

  .btn {
    margin-bottom: 1em;
  }

  p {
    font-size: 1em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 5em auto;

  h1 {
    font-size: 4em;
    font-weight: bold;
  }
}
