body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .jumbotron {
    margin: auto;
    text-align: center;
    background-color: transparent;
  }
}

.register {
  margin: auto;
  margin-bottom: 1em;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
